 .button {
            color: #FFFFFF;
            background-color: #000000;
            margin: 10px;
            background-position: center;
            background-position: top;
        }

.button1 {
            color: #FFFFFF;
            background-color: #000000;
            margin: 10px;
            background-position: center;
            background-position: top;
        }